<!DOCTYPE html>
<html>
    
    <% @names.each do |name| %>
        <div>
            <h1> <%= name %> </h1>
        </div>
    <% end %>
    
    
    
  
    
    <head>
        <title> </title>
    </head>
    <body>
        <h1>Hello <%= @first_name %> </h1>  <!-- Using alligator brace to call variable from actions.rb file -->

    </body>
</html>